<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p><a href="{{ url_for('music.unique_artists_amount_view') }}">Unique Artists</a></p>
<p><a href="{{ url_for('music.number_of_tracks_view') }}">Number Of Tracks</a></p>
<p><a href="{{ url_for('music.available_genres_view') }}">Genres</a></p>
<p><a href="{{ url_for('music.tracks_title_len_view') }}">Tracks</a></p>
<p><a href="{{ url_for('music.tracks_stat_view') }}">Statistics</a></p>
</body>
</html>